<div class="review">
    <div class="review-details">
        <div class="user-info">
            <img src="../../assets/image.jpg" alt="User 1" class="user-image">
            <span class="rating">
                <mat-icon>star_border</mat-icon>
                <mat-icon>star_border</mat-icon>
                <mat-icon>star_border</mat-icon>
                <mat-icon>star_border</mat-icon>
                <mat-icon>star_border</mat-icon>
            </span>
        </div>
    </div>
    <mat-form-field style="width: 100%;">
        <textarea matInput placeholder="Write your review..."></textarea>
    </mat-form-field>
    <div class="just-button-container">
        <div class="show-more-button">
          <button mat-button>
            <span>Submit review</span>
          </button>
        </div>
      </div>
</div>