<mat-card class="accommodation-card">
    <div class="image-container">
        <img [src]="getImagePath()" alt="Accommodation Image" class="accommodation-image" />
    </div>
    <div class="details">
        <div class="row accommodation-name">{{request.accommodationName ? request.accommodationName : 'No accommodation name'}}</div>
        <div class="row">{{ request.startDate| date:'dd/MM/yyyy' }} - {{ request.endDate| date:'dd/MM/yyyy' }}</div>
        <div class="row">Number of guests: {{ request.guestNumber }}</div>
        <div class="row">Status: {{ request.status }}</div>
    </div>
    <div class="buttons-conatiner">
        <div class="cancel-button"><span>Cancel request</span></div>
        <div class="delete-button"><span>Delete request</span></div>
    </div>
</mat-card>