<!-- accommodation-card.component.html -->
<div class="card-container">
    <img src="image.jpg" alt="Accommodation Image" class="accommodation-image" />
  
    <div class="details">
      <div class="row">
        <div class="name">Novi Sad, Srbija</div>
        <div class="rating">
          <mat-icon>star</mat-icon>
          <span>5.00</span>
        </div>
      </div>
  
      <div class="info">
        <div class="row">
          <label>Price:</label>
          <span>1500</span>
        </div>
        <div class="row">
          <label>Location:</label>
          <span>Mirka Blagojevica, Novi Sad</span>
        </div>
      </div>
    </div>
  </div>
  