<mat-card class="accommodation-card">

  <button mat-icon-button class="favorite-button" (click)="toggleFavorite()">
    <mat-icon [style.color]="isFavorite ? 'red' : 'black'">favorite</mat-icon>
  </button>
  
  <img src="./image.jpg" alt="Accommodation Image" class="accommodation-image" />

  <div class="details">
    <div class="row">
      <div class="name">Novi Sad, Srbija</div>
      <div class="rating">
        <mat-icon>star</mat-icon>
        <span>5.00</span>
      </div>
    </div>

    <div class="info">
      <div class="row">
        <label>Price:</label>
        <span>1500</span>
        <label>Total:</label>
        <span>7500</span>
      </div>
    </div>
  </div>
</mat-card>