#buttons {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  #buttons button {
    margin-left: 16px;
    margin-right: 16px;
  }

  .input-field {
    width: 90%;
  }