<div class="page">
    <main>
        <div class="form">

            <div class="s12 m6 input-field">
                <input id="oldPassword" type="password" class="input-field" placeholder=" " maxlength="20" required>
                <label for="oldPassword">Current password</label>
              </div>

              <div class="s12 m6 input-field">
                <input id="newPassword" type="password" class="input-field" placeholder=" " maxlength="20" required>
                <label for="newPassword">New password</label>
              </div>

              <div class="s12 m6 input-field">
                <input id="repeatPassword" type="password" class="input-field" placeholder=" " maxlength="20" required>
                <label for="repeatPassword">Confirm password</label>
              </div>
    
              <div id="buttons">
              
                <div  class="grey-button-wrapper">
                  <button [routerLink]="['/profile']" class="greyBtn" mat-raised-button>Cancel changes</button>
                </div>
            
                <div class="dark-blue-button-wrapper">
                    <button [routerLink]="['/profile']" class="blueBtn" mat-raised-button>Save changes</button>
                </div>
            </div>

        </div>
    </main>
</div>