<div class="review">
    <div class="review-details">
        <div class="user-info">
            <img [src]="imagePath" alt="User 1" class="user-image">
            <div class="user-text">
                <span style="margin-left: 10px; font-size: 16px;">{{ review.authorUsername }}</span>
                <span style="margin-left: 10px; color: grey;">{{ review.timestamp | date:'dd/MM/yyyy' }}</span>
            </div>
        </div>
        <span class="rating">
            <mat-icon>star</mat-icon>
            <span>{{ review.rating }}</span>
        </span>
    </div>
    <p>{{ review.comment }}</p>
</div>