<div class="review">
    <div class="review-details">
        <div class="user-info">
            <img src="../../assets/image.jpg" alt="User 1" class="user-image">
            <div class="user-text">
                <span style="margin-left: 10px; font-size: 16px;">Roger Smith</span>
                <span style="margin-left: 10px; color: grey;">January 1, 2023</span>
            </div>
        </div>
        <span class="rating">
            <mat-icon>star</mat-icon>
            <span>5.0</span>
        </span>
    </div>
    <p>Great experience! The accommodation was fantastic, and the host was very friendly. Would highly recommend!</p>
</div>