
  .review {
    width: calc(100% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .user-text {
    display: flex;
  }

  .rating {
    color: grey;
    font-size: 16px;
  }

  .rating mat-icon {
    color: #FFD700;
  }

  .review-details {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
  }