<div  style="padding: 0 200px;">
<mat-grid-list gutterSize="16" cols="5" rowHeight="330">
    <mat-grid-tile colspan="1">
      <app-accommodation-card></app-accommodation-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <app-accommodation-card></app-accommodation-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <app-accommodation-card></app-accommodation-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <app-accommodation-card></app-accommodation-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <app-accommodation-card></app-accommodation-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <app-accommodation-card></app-accommodation-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>