<div  style="padding: 0 100px;">
  <div class="accommodation-name"><h1>{{ accommodation.name }}</h1></div>
  <div class="basic-info">
    <div style="display: flex;">
    <h2>{{ accommodation.city }}, {{ accommodation.country }}</h2>
    <span class="basic-info-reviews">
      <span class="rating">
        <mat-icon>star</mat-icon>
        <span>{{ accommodation.averageRating }}</span>
      </span>
      <span class="review-number">{{ reviews.length }} reviews</span>
    </span>
  </div>
    <a class="favorite-icon" (click)="toggleFavorite()">
      <mat-icon [style.color]="isFavorite ? 'red' : 'grey'">favorite</mat-icon>
    </a>
  </div>
  <div class="grid-container">
    <img *ngFor="let imagePath of imagePaths.slice(0, 5)" [src]="imagePath" alt="accommodation image" class="grid-item">
  </div>
  <div class="details flex-container">
    <div class="description-text">
      <span>
        {{ accommodation.description }}
      </span>
    </div>
    <div class="reservation-details" *ngIf="isGuest">
      <span class="reservation-details-first-line">
        <h1> {{ accommodation.price }} rsd night</h1>
        <span class="small-rating">
          <mat-icon>star</mat-icon>
          <span>
            {{ accommodation.averageRating }}
          </span>
          <span class="small-review-number">{{ reviews.length }} reviews</span>
        </span>
      </span>
      <div class="preferences">
        <div class="date-pickers">
          <div>
            <mat-form-field>
              <input matInput [matDatepicker]="checkInDatePicker" placeholder="Check-In" [(ngModel)]="selectedStartDate" [matDatepickerFilter]="startDateFilter" (input)="onInput()"/>
              <mat-datepicker-toggle matSuffix [for]="checkInDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #checkInDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput [matDatepicker]="checkOutDatePicker" placeholder="Check-Out" [(ngModel)]="selectedEndDate" [matDatepickerFilter]="endDateFilter" (input)="onInput()"/>
              <mat-datepicker-toggle matSuffix [for]="checkOutDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #checkOutDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
    
        <div class="guest-number">
          <mat-form-field>
            <input matInput type="number" placeholder="Guests" [min]="accommodation.minGuests" [max]="accommodation.maxGuests" [(ngModel)]="selectedGuestNumber" (input)="onInput()"/>
          </mat-form-field>
        </div>
      </div>
      <div class="reserve-button">
        <button mat-button (click)="makeReservationRequest()" [disabled]="isReservationButtonDisabled" [ngClass]="{'disabled-button': isReservationButtonDisabled}">
          <span style="font-size: 20px;">Reserve</span>
        </button>
      </div>
      <div class="cost-details" *ngIf="!isReservationButtonDisabled">
        <span>
          <span>{{ accommodation.price }} rsd x {{ numberOfNights }} nights</span> 
          <span *ngIf="!accommodation.isPricePerGuest"> x {{ selectedGuestNumber }} guests</span>
        </span>
        <span>{{ accommodation.totalPrice }} rsd</span>
      </div>
    </div>
  </div>
  <hr class="horizontal-separator">
  <div class="amenities">
    <span style="font-size: 25px;">Amenities</span>
    <mat-grid-list cols="4" rowHeight="100px" gutterSize="16px">
      <ng-container *ngFor="let amenity of accommodation.amenities">
        <mat-grid-tile>
          <mat-icon>done_outline</mat-icon>
          <span>{{ amenity }}</span>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
  </div>
  <hr class="horizontal-separator">
  <span style="font-size: 25px;">View on map</span>
  <div *ngIf="isAccommodationDetailsReady">
    <app-map-view [accommodationAddress]="accommodationAddress"></app-map-view>
  </div>
  <hr class="horizontal-separator">
  <span style="font-size: 25px;">Reviews</span>
  <span class="basic-info-reviews">
    <span class="rating">
      <mat-icon>star</mat-icon>
      <span> {{ accommodation.averageRating }}</span>
    </span>
    <span class="review-number"> {{ reviews.length }} reviews</span>
  </span>
  <div class="reviews-container">
    <mat-grid-list cols="2" rowHeight="150px">
      <mat-grid-tile *ngFor="let review of reviews">
        <app-review-card [review]="review" style="width: calc(100% - 10px);"></app-review-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <hr class="horizontal-separator">
  <app-write-review-card></app-write-review-card>
</div>


