<mat-card>
    <mat-card-content class="frame">
        <img src={{imagePath}} alt="Pending accommodation Image">
        <b [routerLink]="['/accommodation', accommodation.id]" [queryParams]="{title: 'Accommodation', active: false}">{{accommodation.name}} #{{accommodation.accommodationId}}</b>
        
        <div class="transparent-button-wrapper">
            <button class="tranparentBtn" mat-flat-button (click)="onDelete()">Delete</button>
            <button class="tranparentBtn" mat-flat-button (click)="onEdit()">Edit</button>
        </div>
    </mat-card-content>
</mat-card>